/* Import */
@import url(./css/layouts/navbar.css);
@import url(./css/layouts/todo.css);
@import url(./css/base/textarea.css);
@import url(./css/base/button.css);
@import url(./css/todo/dialog.css);

@font-face {
  font-family: Notosans-regular;
  src: url(./assets/fonts/notosans-regular.woff2);
}

body {
  font-family: Notosans-regular;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CSS */
h3 {
  margin: 0;
}

span {
  font-size: 85%;
  opacity: 0.8;
}

/* Main */
.main {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 100px;
  flex: 1;
}

.main-list {
  display: flex;
  height: calc(100% - 52px);
}

.delete-all {
  margin: 0 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.main-column {
  width: calc(33.3333% - 20px);
  margin: 0 20px;
  padding: 12px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.td-d-none {
  display: none;
}

.td-d-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.td-justify-content-end {
  justify-content: flex-end;
}

.td-mi-sm {
  margin-inline: 4px;
}

.td-mi-md {
  margin-inline: 6px;
}

.td-mi-lg {
  margin-inline: 8px;
}

.td-ml-sm {
  margin-left: 4px;
}

.td-ml-md {
  margin-left: 6px;
}

.td-ml-lg {
  margin-left: 8px;
}

.td-mr-sm {
  margin-right: 4px;
}

.td-mr-md {
  margin-right: 6px;
}

.td-mr-lg {
  margin-right: 8px;
}
